' Questions created in previous day:
- if @questions.count.zero?
  ' No questions was created in previous day
- else
  - @questions.each do |question|
    ' #{question.title}
    ' #{question_url(question)}
    ' #######################################################
