' New answer for question "#{@answer.question.title}"
' #######################################################
' #{@answer.body}
' Question url:
' #{question_url(@answer.question)}
' #######################################################
